*{
    color: white;
    font-family:"open-sans";
    background-color: hsl(218, 28%, 13%);
}
header{
    text-align: center;
}
.top_bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: initial;
}
.top_bar a:nth-child(1){
    flex-grow: 1;
}
.allboxes{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    flex-basis: 50%;
}